@import "Utility.scss";

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;
  }
 span.spinnerBase{
    color:$redDarker;
    margin:0 auto;
  }

  
@media screen and (min-width: 992px) {
    .container{
        padding: 5rem 0rem;
      }
}
