@import "/src/Utility.scss";

.container{
    width:100%;
    display: flex;
    height: $headerHeightM;
    background:$red;
    color:$white;
    font-weight: bold;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    position: fixed;
    top:0px;
    z-index: $indexMedium;
}
.topBar{
   width:100%;
   display: flex;
   height: 6.6rem;
   align-items: center;
   padding-left: 1rem;
}
.topBar > figure, .topBar > h1{
    cursor:pointer;
}

.topBar >  figure > img{
    max-height:100%;
  }
  
.topBar > h1{
    font-size: 2.35rem;
    line-height: 2.1rem;
    font-family: $titleFamily;
    color:$white;
    font-weight:700;
}

.bottomBar{
    width:100%;
    display: flex;
    height: 2.4rem;
    align-items: center;
    padding-right: 1rem;
    justify-content: flex-end;
    background:$redDarker;
    font-size: 1.25rem;
    border-bottom: 1px solid $white;
 }

.imgContainer{
    display: flex;
    height: 4.9rem;
    // height: 6.25rem;
    margin: 0rem 0.5rem;
}
.imgContainer img{
    align-self: center;
    // animation: spin 20000ms linear infinite;
}

.btLangActive, .btLang, .btLang:hover{
    background: $green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 0.8rem;
    color: #fff;
    margin: 0rem 0.2rem;
    padding: 0.2rem 0.4rem;
    opacity:1;
  }
  
  .btLang{
    opacity:0.5;
  }
 

@media screen and (min-width: 992px) {

    
.container{
    height: $headerHeight;
}

    .topBar > h1{
        font-size: 3.4rem;
        margin-left: 0.6rem;
    }
    .topBar{
        height: 7.6rem;
     }
     .bottomBar{
        height:  2.7rem;
     }
}