
/*********************************/
/* VARIABLES */

/* COLORS */
$red: #DD373E;
$redDarker: #a10f16;
$white2:#221613; 
$white:#FAFBF9;
$green: #8BD7A3;

$defamily: 'Montserrat', sans-serif;;
$titleFamily: $defamily;
$titleColor: $red; 
$textColor: #666; 

$grey: #F0F0F0;
$white2: #fbfbfb;

$paddingViews:  1.2rem 0rem;
$headerHeight: 10.3rem;
$headerHeightM: 9rem;

$indexTop:100;
$indexMedium:90;
$indexLow:80;






